[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Binary to Decimal Converter
Type=Link
URL=https://www.rapidtables.com/convert/number/binary-to-decimal.html
Icon=text-html
