[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Large numbers Calculator
Type=Link
URL=https://www.123calculus.com/en/big-numbers-calculator-page-1-11-290.html
Icon=text-html
